.pd {
  padding: 20px;
}
.mg {
  margin-left: 420px;
}
.mg-interact{
  margin-left: 310px;


}

@media screen and (max-width: 411px) {
  .mg {
    margin-left: 30px;
  }
  .mg-interact{
     margin-left: 110px;
  }
}

@media screen and (max-width: 360px) {
   .mg {
     margin-left: 20px;
   }
  .mg-interact{
   margin-left: 90px;
   

 }

 }

 @media screen and (max-width: 1024px) {
   .mg {
     margin-left: 270px;
   }
 }