<%-include('../layouts/home_header.ejs')%>
<div class="container">
<%if (user.isAdmin===1){%>
    Welcome admin <%=user.name%> <button>Click Here To Access The Admin Portal</button>
<%}else{%>
<button>Welcome pateron <%=user.name%> </button>
<%}%>
</div>

<div class="row">
    <p>loreuhwe4i</p>
</div>
<%-include('../layouts/home_footer.ejs')%>
