<%-include('../layouts/home_header.ejs')%>

<h1>Login Here</h1>
<form action="/login" method="POST">
<label for="">Email</label>
<input type="email" name="" id="">
<br>
<label for="">Password</label>
<input type="text" placeholder="password">
<button type="submit">LOGIN</button>

</form>

<%-include('../layouts/home_footer.ejs')%>
