<%-include('../layouts/home_register.ejs')%>

<%-include('../layouts/flashes.ejs')%>
<h1>Login Here</h1>
<form action="/login" method="POST">
<label for="">Email</label>
<input type="email" name="email" id="">
<br>
<label for="">Password</label>
<input type="password" name="password" placeholder="password">
<button type="submit">LOGIN</button>

</form>
<a href="/reset">Reset Password</a>

<%-include('../layouts/home_footer.ejs')%>
